@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container-fluid featured-product">
    <div class="featured-product-content">
        <h2 class="text-uppercase text-center">KKW X KYLIE Cosmetics</h2>
        <a class="btn transparent-btn text-uppercase text-center" asp-area="Customer" asp-controller="Home" asp-action="Index">Shop Now</a>
    </div>
</div>

<div style="height:40px"> </div>

<section id="events" class="events">
    <div class="container">
        <header class="text-center text-uppercase py-3">
            <h1 class="py-1">Upcoming Events</h1>
            <h4>Don’t miss our awesome events</h4>
        </header>

        <div class="row">
            <div class="col-sm-6">
                <div class="profile has-border" style="background-image: url(Images/kkw_event.jpeg);">
                    <ul class="date list-unstyled list-inline clearfix">
                        <li class="day pull-left">16<sup>th</sup></li>
                        <li class="month pull-left">December <span>2021</span></li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-6 text-uppercase">
                <div class="details">
                    <h3>Mario Dedivanovic Master Class</h3>
                    <h4 class="text-muted">16 December 2021 | 20:00</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div style="height:40px"></div>
</section>



<div>
    <h1 class="display-6 text-center text-uppercase font-weight-bold h1-featured-product">Products We Love gallery</h1>
    <p class="lead text-center p-featured-product text-uppercase">
        Kim's must haves: OUR LINEUP OF GO-TO PRODUCTS FOR NEUTRALIZING UNDER EYE CIRCLES & PREPPING FOR A FLAWLESS LOOK
    </p>
</div>

<section id="gallery" class="gallery">
    <div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-6 col-custom-12 img-hover-zoom">
                <div class="item">
                    <img src="Images/products_we_love_1.png" alt="image">
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12 img-hover-zoom">
                <div class="item">
                    <img src="Images/products_we_love_2.png" alt="image">
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12 img-hover-zoom">
                <div class="item">
                    <img src="Images/products_we_love_3.png" alt="image">
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12 img-hover-zoom">
                <div class="item">
                    <img src="Images/products_we_love_4.png" style="object-fit: contain;" alt="image">
                </div>
            </div>

        </div>
    </div>
</section>





