@model Shop1.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<br />
<div class="row col-md-10 offset-md-1 text-uppercase d-flex align-items-center">
    <div class="text">
        <h2 class="text-md-start text-center mb-md-0 rotating-icon" style="letter-spacing: 10px">
            Edit Product
        </h2>
        <hr />
    </div>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <br />
        <div class="row text-uppercase">
            <div class="col-sm-12 col-md-12 col-lg-8 mx-0 pb-3 order-sm-3 order-lg-1">
                <div class="col-md-12 offset-md-2 px-1 ms-lg-0 ms-md-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                    <h5 class="text-danger text-md-start text-center">@ViewBag.message</h5>
                    <div class="form-group border-dark row">
                        <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center py-1">
                            <h5 class="pt-lg-2"> <label asp-for="ProductName"></label></h5>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                            <input type="hidden" asp-for="Id" />
                            <input asp-for="ProductName" class="form-control rounded-0 border-dark shadow-none mb-2" type="search" id="inputToUpper" onkeyup="myFunction()" />
                        </div>
                        <span asp-validation-for="ProductName" class="col-12 text-danger rounded-0 border-dark"></span>
                    </div>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center py-1">
                        <h5 class="pt-lg-2"> <label asp-for="ProductDescription"></label></h5>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                        <textarea asp-for="ProductDescription" class="form-control rounded-0 border-dark shadow-none" rows="5"></textarea>
                    </div>
                    <span asp-validation-for="ProductDescription" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center py-1">
                        <h5 class="pt-lg-2"> <label asp-for="ProductPrice"></label></h5>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                        <input asp-for="ProductPrice" class="form-control rounded-0 border-dark shadow-none" type="search" />
                    </div>
                    <span asp-validation-for="ProductPrice" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center py-1">
                        <h5 class="pt-lg-2"> <label asp-for="ProductPictureUpload"></label></h5>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                        <input asp-for="ProductPictureUpload" class="custom-file-input form-control rounded-0 border-dark shadow-none" />
                    </div>
                    <span asp-validation-for="ProductPictureUpload" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center">
                        <h5 class=""> <label asp-for="ProductPictureUploadBack"></label></h5>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                        <input asp-for="ProductPictureUploadBack" class="custom-file-input form-control rounded-0 border-dark shadow-none" />
                    </div>
                    <span asp-validation-for="ProductPictureUploadBack" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-12 col-md-8 col-lg-4 text-md-start text-center py-1">
                        <h5 class="pt-lg-2"> <label asp-for="CategoryId"></label></h5>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 py-1">
                        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control rounded-0 border-dark shadow-none"> </select>
                    </div>
                    <span asp-validation-for="CategoryId" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="form-group border-dark row">
                    <div class="col-sm-7 col-md-6 col-lg-4 py-1">
                        <h5 class="pt-lg-2 pt-sm-2 text-md-start text-sm-end">
                            <label asp-for="IsAvailable"></label>
                        </h5>
                    </div>
                    <div class="col-sm-5 col-md-6 col-lg-8 py-1 checkbox">
                        <input asp-for="IsAvailable" type="checkbox" />
                    </div>
                    <span asp-validation-for="IsAvailable" class="col-12 text-danger rounded-0 border-dark"></span>
                </div>
                <br />
                <div class="profile pb-2 text-md-start text-center">
                    <input type="submit" class="btn-black btn-black1" value="UPDATE" />
                    <a asp-action="Index" class="btn-black btn-black1">Back to List</a>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-1 order-sm-2 order-lg-2"></div>
            <div class="col-sm-12 col-md-12 col-lg-3 order-sm-1 order-lg-3 pb-sm-5">
                <div class="pt-img">
                    <img src="@FileLocation.RetriveFileFromFolder@Model.ExistingImage" class="img-thumbnail border border-dark rounded-0" style="object-position: 100% 0; object-fit: contain;" />
                    <div class="my-sm-2 my-lg-4"></div>
                    <img src="@FileLocation.RetriveFileFromFolder@Model.ExistingImageBack" class="img-thumbnail border border-dark rounded-0" style="object-position: 100% 0; object-fit: contain;" />
                </div>
                <br />
            </div>
            <br />
        </div>
    </form>
</div>

@section Scripts {
    <script>// Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





