@model int

<td class="text-center text-dark text-uppercase">
    <a class="btn btn-transparent text-black navbar-dashed-border rounded-0" asp-action="Edit" asp-route-id="@Model">Edit </a>
    <a class="btn btn-transparent text-black navbar-dashed-border rounded-0" asp-action="Details" asp-route-id="@Model">Details </a>
    <a class="btn btn-transparent text-black navbar-dashed-border rounded-0" asp-action="Delete" asp-route-id="@Model">Delete </a>
</td>

